@import './_variable.less';


html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 625%;
}

body {
  font-size: 12px;
  background-color: @bgc;
  color: @black;
}

#app {
  height: 100vh;
  .page {
    box-sizing: border-box;
    min-height: 100%;
  }
}

.page-has-hd {
  padding-top: .46rem !important;
}
.page-has-tab {
  padding-bottom: .5rem !important;
}

.text-l {
  text-align: left;
}
.text-c {
  text-align: center;
}
.text-r {
  text-align: right;
}

.primary-bgc {
  background-color: @primary;
}
.warning-bgc {
  background-color: @warning;
}
.danger-bgc {
  background-color: @danger;
}


.img-w {
  display: inline-block;
  width: 100%;
  height: auto;
  max-height: 100%;
}
.img-h {
  display: inline-block;
  height: 100%;
  width: auto;
  max-width: 100%;
}
.img-b {
  display: block;
  width: 100%;
  height: 100%;
}
.img-face {
  display: inline-block;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  border: 1px solid #fff;
}
.img-face-mini {
  .img-face;
  width: .5rem;
  height: .5rem;
}


.btn-submit-container {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: .2rem .1rem;
}

a {
  color: inherit;
}


/* ------ upload ------ */
.upload-container {
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .van-icon-photograph {
    font-size: .6rem;
    color: @blue;
  }
}




/* ------- goods-card ----------- */
.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: .3rem 4%;
}
.goods-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 49%;
  padding: .05rem;
  margin-bottom: .1rem;
  border: 1px solid @border-c;
  border-radius: .05rem;
  box-shadow: .03rem .06rem .05rem @border-c;
  &:nth-child(odd) {
    margin-right: 2%;
  }
  .card-hd {
    text-align: center;
  }
  .card-thumb {
    height: 1rem;
    width: auto;
    margin: auto;
  }
  .card-bd {
    padding: .1rem 0;
  }
}












